* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: rgba(0, 0, 0, 0.692);
}

.container {
    max-width: 1110px;
    margin: auto;
}

section {
    margin: 30px 0;
    /* background-color: red; */
    font-size: 17px;
}

.footer, .header {
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}

.heading {
    font-size: 28px;
    text-align: center;
    color: black;
    padding: 25px 0;
}


a {
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.header {
    padding: 30px 0;
    margin-bottom: 40px;
}

.header-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header__item {
    margin-right: 20px;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
}

.header__item:hover {
    text-decoration: underline;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}


.details {
    padding: 40px;
    background-color: #efefef;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-right: 40px;
}

.details__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 40px;
}


.about {
    flex-grow: 2;
}

.table {
	width: 100%;
	padding: 25px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
    text-align: left;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}


.skills-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.list {
    list-style-type: square;
    padding-left: 15px;
}
.li-heading {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 20px;
}


.works__flex {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works__line-1 {
    width: 540px;
    height: 540px;
}

.works__line-2 {
    width: 350px;
    height: 350px;
}


.footer__heading {
    color: #efefef;
}
.footer__link {
    color: inherit;
}